@page "/Lobby/ConfigureSessionOptions/{text}/{Id:guid?}"
@using Image_guesser.Core.Domain.ImageContext
@using Image_guesser.Core.Domain.ImageContext.Services
@using Image_guesser.Core.Domain.OracleContext
@using Image_guesser.Core.Domain.SessionContext
@inject IImageService ImageService
@model ConfigureSessionOptionsModel
@{
    ViewData["Title"] = @Model.RouteData.Values["text"] + " Lobby";
}

<div class="d-flex justify-content-center align-content-center">

    <form method="post" style="width: 400px;">

        <h1> @ViewData["Title"] </h1>

        <div class="d-flex input-group">
            <label class="input-group-text" for="selectedGameMode"> GameMode: </label>
            <select asp-for="Options.GameMode" asp-items="Html.GetEnumSelectList<GameMode>()" id="selectedGameMode"
                class="form-select text-center" onchange="gameModeChanged()">
            </select>
        </div>

        @{
            var IsFreeForAll = Model.Options.IsGameMode(GameMode.FreeForAll);
        }

        <div id="selectOracleTypeContainer" class="d-flex input-group mt-2 @(IsFreeForAll ? "" : "hide")">
            <label class="input-group-text" for="selectOracleType"> Oracle Type: </label>
            <select asp-for="Options.Oracle" asp-items="Html.GetEnumSelectList<OracleTypes>()" id="selectOracleType"
                using Image_guesser.Core.Domain.ImageContext; class="form-select text-center"
                onchange="OracleTypeChange()">
            </select>
        </div>

        <div id="infoOracleType" class="d-flex input-group mt-2 @(IsFreeForAll ? "hide" : "")">
            <label class="input-group-text" for="infoOracleInput">Oracle Type: </label>
            <input id="infoOracleInput" class="form-control text-center" value="@Model.Options.Oracle" disabled>
        </div>

        @{
            var randomUserOracleClass =
            Model.Options.IsGameMode(GameMode.SinglePlayer) ||
            Model.Options.IsOracleAI() ? "hide" : string.Empty;
        }

        <div class="form-check m-1 @randomUserOracleClass" id="RandomUserOracle">
            <label for="randomUser"> Random User As Oracle </label>
            <input type="checkbox" class="form-check-input" asp-for="Options.RandomUserOracle" id="randomUser">
        </div>

        @{
            var pickAIClass = Model.Options.IsOracleAI() ? string.Empty : "hide";
        }

        <div class="d-flex input-group mt-2 @pickAIClass" id="pickAI">
            <label class="input-group-text" for="selectAI"> Type of AI: </label>
            <select class="form-select" asp-for="Options.AI_Type" asp-items="Html.GetEnumSelectList<AI_Type>()"
                id="selectAI">
            </select>
        </div>

        <div class="form-check m-1 @(Model.Options.IsGameMode(GameMode.SinglePlayer) ? "hide" : string.Empty)"
            id="RandomPictureMode">
            <label for="randomPictureCheckBox"> Random Picture Mode </label>
            <input onchange="ToggleRandomPictureMode()" type="checkbox" class="form-check-input"
                asp-for="Options.RandomPictureMode" id="randomPictureCheckBox">
        </div>

        <div class="@(Model.Options.RandomPictureMode || Model.Options.IsGameMode(GameMode.SinglePlayer) ? "hide" : "")"
            id="ImageContainer">

            <input asp-for="Options.ImageIdentifier" id="imageIdentifier" hidden />

            <h4> Select an Image </h4>

            <div class="d-flex input-group mt-2 @(Model.ImageRecord.Name == string.Empty ? "hide" : "")"
                id="selectedImageNameContainer">
                <label class="input-group-text" for="selectedImageName"> Name: </label>
                <input asp-for="ImageRecord.Name" id="selectedImageName" class="form-control text-center"
                    value="@Model.ImageRecord.Name" readonly>
            </div>

            <div class="d-flex flex-wrap justify-content-center align-content-center" style="max-width: 400px">
                @foreach (var image in Model.ImageRecords)
                {
                    <button type="button" class="btn position-relative" id="@image.Identifier"
                        onclick="UserSelectedImage('@image.Name', '@image.Identifier')">
                        <img src="~/@image.Link" class="rounded" width="100px" height="100px" />
                    </button>
                }
            </div>

            <div class="d-flex input-group mt-1">

                <select class="form-select" asp-for="@Model.AmountOfPicturesToLoad">

                    @for (var i = 1; i <= 100; i++)
                    {
                        <option value="@i"> @i </option>
                    }

                </select>

                <button type="submit" asp-page-handler="RefreshImages" class="btn btn-primary"> Refresh
                    Images </button>
            </div>
        </div>

        <div class="m-1">
            <label for="numberOfRounds" class="form-label">Number of Rounds (<span
                    id="numberOfRoundsValue">@Model.Options.NumberOfRounds</span>)</label>
            <input asp-for="Options.NumberOfRounds" type="range" class="form-range" min="1" max="10" id="numberOfRounds"
                oninput="numberOfRoundsChange()">
        </div>

        @{
            var LobbyPlayerLimitClass = Model.Options.IsGameMode(GameMode.FreeForAll) ? string.Empty : "hide";
        }

        <div class="m-1 @LobbyPlayerLimitClass" id="lobbyPlayerLimit">
            <label for="lobbySize" class="form-label"> Lobby size (<span
                    id="lobbySizeValue">@Model.Options.LobbySize</span>)</label>
            <input asp-for="Options.LobbySize" type="range" class="form-range" min="1" max="10" id="lobbySize"
                oninput="lobbySizeChange()">
        </div>

        <button class="btn btn-md btn-success float-end" type="submit" asp-page-handler="Modify">
            @Model.RouteData.Values["text"] </button>

    </form>

</div>

<style>
    .hide {
        display: none !important;
    }
</style>


@section Scripts {
    <script src="~/js/ConfigureSessionOptions.js"></script>
}
