@page "/Lobby/Options/{text}/{Id:guid}"
@using Image_guesser.Core.Domain.ImageContext
@using Image_guesser.Core.Domain.ImageContext.Services
@using Image_guesser.Core.Domain.OracleContext
@using Image_guesser.Core.Domain.SessionContext
@inject IImageService ImageService
@model ConfigureSessionOptionsModel
@{
    ViewData["Title"] = Model.RouteData.Values["text"] + " Lobby";

    var hide = "hide";
}

<div class="d-flex justify-content-center align-content-center">

    <form id="ModifySessionForm" method="post" style="width: 400px;">

        <h1> @ViewData["Title"] </h1>

        <div class="d-flex input-group">
            <label class="input-group-text" for="selectedGameMode"> GameMode: </label>
            <select asp-for="Options.GameMode" asp-items="Html.GetEnumSelectList<GameMode>()" id="selectedGameMode"
                class="form-select text-center" onchange="gameModeChanged()">
            </select>
        </div>

        @{
            var IsFreeForAll = Model.Options.IsGameMode(GameMode.FreeForAll);
        }

        <div id="infoOracleType" class="d-flex input-group mt-2 @(IsFreeForAll ? hide : "")">
            <label class="input-group-text" for="infoOracleInput">Oracle Type: </label>
            <input id="infoOracleInput" class="form-control text-center" value="@Model.Options.OracleType" disabled>
        </div>

        <div id="selectOracleTypeContainer" class="d-flex input-group mt-2 @(IsFreeForAll ? "" : hide)">
            <label class="input-group-text" for="selectOracleType"> Oracle Type: </label>
            <select asp-for="Options.OracleType" asp-items="Html.GetEnumSelectList<OracleTypes>()" id="selectOracleType"
                class="form-select text-center" onchange="OracleTypeChange()">
            </select>
        </div>

        <div class="d-flex input-group mt-2 @(Model.Options.IsOracleAI() ? string.Empty : hide)" id="pickAI">
            <label class="input-group-text" for="selectAI"> Type of AI: </label>
            <select class="form-select text-center" asp-for="Options.AI_Type"
                asp-items="Html.GetEnumSelectList<AI_Type>()" id="selectAI">
            </select>
        </div>

        <div id="UserOracleMode" class="d-flex input-group mt-2  @(Model.Options.IsOracleAI() ? hide : string.Empty)">
            <label class="input-group-text" for="selectUserOracleMode"> User-Oracle Mode: </label>
            <select asp-for="Options.UserOracleMode" asp-items="Html.GetEnumSelectList<UserOracleMode>()"
                id="selectUserOracleMode" class="form-select text-center" onchange="UserOracleModeChange()">
            </select>

            <div id="ListOfUsersInSession"
                class="d-flex input-group mt-2 @(Model.Options.UserOracleMode == UserOracleMode.Chosen ? string.Empty : hide)">
                <label class="input-group-text" for="selectPictureMode"> Oracle: </label>
                <select asp-for="Options.SelectedUserId" class="form-select text-center">
                    @foreach (var user in Model.Users)
                    {
                        if (user.Selected)
                        {
                            <option value="@user.Value" selected> @user.Text </option>
                        }
                        else
                        {
                            <option value="@user.Value"> @user.Text </option>
                        }
                    }
                </select>
            </div>
        </div>

        <div id="PictureMode"
            class="d-flex input-group mt-2  @(Model.Options.IsGameMode(GameMode.SinglePlayer) || Model.Options.IsOracleAI() ? hide : string.Empty)">
            <label class="input-group-text" for="selectPictureMode"> Picture Mode: </label>
            <select asp-for="Options.PictureMode" asp-items="Html.GetEnumSelectList<PictureMode>()"
                id="selectPictureMode" class="form-select text-center">
            </select>
        </div>

        @{
            var LobbyPlayerLimitClass = Model.Options.IsGameMode(GameMode.FreeForAll) ? string.Empty : hide;
        }

        <div class="m-1 @LobbyPlayerLimitClass" id="lobbyPlayerLimit">
            <label for="lobbySize" class="form-label"> Lobby size (<span
                    id="lobbySizeValue">@Model.Options.LobbySize</span>)</label>
            <input asp-for="Options.LobbySize" type="range" class="form-range" min="1" max="10" id="lobbySize"
                oninput="lobbySizeChange()">
        </div>

        <button class="btn btn-md btn-success float-end mt-2" type="submit" asp-page-handler="Modify">
            @Model.RouteData.Values["text"] </button>

    </form>

</div>

<style>
    .hide {
        display: none !important;
    }
</style>

@section Scripts {
    <script src="~/js/ConfigureSessionOptions.js"></script>
}
