@page "/Lobby/{Id:guid}"
@using Image_guesser.SharedKernel
@using Image_guesser.Core.Domain.SessionContext;
@model SessionModel
@{
    ViewData["Title"] = "Lobby";
}

<div class="text-center">

    <h1 class="display-4"> @ViewData["Title"] </h1>

    @if (!Model.ModelState.IsValid && Model.UserIsSessionHost)
    {
        <div class="d-flex justify-content-center" style="max-height: 200px;">
            <div class="alert alert-danger alert-dismissible fade show mb-1" role="alert">
                <ol>
                    @foreach (var error in Model.ModelState.Values.SelectMany(v => v.Errors))
                    {
                        <li> @error.ErrorMessage </li>
                    }
                </ol>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    }

    <div class="d-flex flex-wrap justify-content-between">
        <div class="col-4">
            @if (Model.Session.Options.PictureMode == PictureMode.Specific &&
            !Model.Session.Options.IsGameMode(GameMode.SinglePlayer) && Model.UserIsOracle)
            {
                <div class="card" style="min-height: 400px;">
                    @if (Model.ImageRecord != null)
                    {
                        <h3 class="card-title p-2"> Selected Image </h3>
                        <img src="~/@Model.ImageRecord.Link" width="200px" height="250px" class="card-img-top rounded p-2"
                            style="object-fit: cover;">
                        <div class="card-body">
                            <h5 class="card-title">@Model.ImageRecord.Name</h5>
                            <p class="card-text"> Piece Count: @Model.ImageRecord.PieceCount </p>
                        </div>
                    }
                    else
                    {
                        <h3 class="card-title p-2"> Select Image </h3>
                        <div class="card-body">
                            <div class="d-flex flex-wrap justify-content-center align-content-center">
                                @foreach (var image in Model.ImageRecords)
                                {
                                    <form method="post" asp-page-handler="OracleSelectedAnImage">
                                        <button type="submit" class="btn position-relative">
                                            <img src="~/@image.Link" class="rounded" width="100px" height="100px" />

                                            <input name="imageIdentifier" value="@image.Identifier" hidden />
                                        </button>
                                    </form>
                                }
                            </div>
                        </div>
                    }
                    <div class="card-footer d-flex justify-content-center">
                        <div class="mt-1" style="width: 350px">
                            <form method="post" asp-page-handler="RefreshImages">
                                <div class="d-flex input-group">
                                    <label class="input-group-text" for="imageAmount"> Amount of Images: </label>
                                    <select id="imageAmount" class="form-select" asp-for="@Model.AmountOfPicturesToLoad">

                                        @for (var i = 1; i <= 100; i++)
                                        {
                                            <option value="@i"> @i </option>
                                        }

                                    </select>


                                    <button type="submit" class="btn btn-primary"> Load Images </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            }
        </div>


        <div class="d-flex flex-column mt-4 col-3" style="min-width: 235px;">

            <h3> Game Setup </h3>

            <div class="input-group m-1">
                <label class="input-group-text"> Gamemode: </label>
                <input class="form-control text-center" value="@Model.Session.Options.GameMode.GetDisplayName()"
                    disabled>
            </div>

            <div class="input-group m-1">
                <label class="input-group-text"> Players / Lobby size </label>
                <input class="form-control text-center"
                    value=" @Model.Session.SessionUsers.Count / @Model.Session.Options.LobbySize" disabled>
            </div>

            <div class="input-group m-1">
                <label class="input-group-text"> Host: </label>
                <input class="form-control text-center" value="@(Model.UserIsSessionHost ? "You" :
                Model.SessionHost.UserName)" disabled>
            </div>

            @{
                var oracle = !Model.Session.Options.IsOracleAI()
                ? Model.UserIsOracle ? "You" : Model.ChosenOracle.UserName
                : $"AI - {@Model.Session.Options.AI_Type.GetDisplayName()}";
            }

            <div class="input-group m-1">
                <label class="input-group-text"> Oracle: </label>
                <input class="form-control text-center" value="@oracle" disabled>
            </div>

            <div class="input-group m-1">
                <label class="input-group-text"> Picture Mode: </label>
                <input class="form-control text-center" value="@Model.Session.Options.PictureMode" disabled>
            </div>

            <div class="input-group m-1">
                <label class="input-group-text"> Completed Games: </label>
                <input class="form-control text-center" value="@Model.Session.Options.AmountOfGamesPlayed" disabled>
            </div>
        </div>

        <div class="col-4">
            <h3> Players </h3>
            <table class="table">
                <thead>
                    <tr>
                        <th> # </th>
                        <th> Name </th>
                        <th> Total Wins </th>
                        <th> Average Points </th>
                        @if (Model.UserIsSessionHost)
                        {
                            <th></th>
                        }
                    </tr>
                </thead>

                <tbody>
                    @{
                        var users = Model.Session.SessionUsers;
                    }
                    @for (var i = 0; i < users.Count; i++)
                    {
                        <tr>
                            <td> @(i + 1) </td>
                            <td>@(users[i].UserName == Model.Player.UserName ? "You" : users[i].UserName)</td>
                            <td>@users[i].Correct_Guesses</td>
                            <td>@users[i].Points</td>
                            @if (Model.UserIsSessionHost && Model.SessionHost.Id != users[i].Id)
                            {
                                <td>
                                    <button type="button" class="btn btn-danger removeUserButton" user-Id="@users[i].Id">
                                        Kick
                                    </button>
                                </td>
                            }
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
    <div class="d-flex justify-content-center m-2">
        <div class="d-flex flex-column col-3">


            @if (Model.UserIsSessionHost)
            {
                <a class="btn btn-primary" asp-page="/Lobby/ConfigureSessionOptions" asp-route-text="Edit"
                    asp-route-id="@Model.Id"> Configure Settings
                </a>
            }

            <div class="d-flex mt-3">
                @if (Model.UserIsSessionHost)
                {
                    <button type="button" class="btn btn-danger" id="CloseSession">
                        Close Lobby
                    </button>
                }
                else
                {
                    <button type="button" class="btn btn-danger removeUserButton" user-Id="@Model.Player.Id">
                        Leave Lobby
                    </button>
                }

                @if (Model.UserIsOracle)
                {
                    <form method="post" class="ms-auto" asp-page-handler="Startgame">
                        <button type="submit" class="btn btn-success" id="startGameButton">
                            Start Game
                        </button>

                        <input name="imageIdentifier" value="@Model.ImageIdentifier" hidden />

                        @*Persist imageRecord after post request*@
                        @for (var i = 0; i < Model.ImageRecords.Count; i++)
                        {
                            <input type="hidden" name="ImageRecords[@i].Identifier" value="@Model.ImageRecords[i].Identifier"
                                hidden />
                            <input type="hidden" name="ImageRecords[@i].Link" value="@Model.ImageRecords[i].Link" hidden />
                        }

                    </form>
                }
            </div>

        </div>
    </div>
</div>

@section Scripts
{
    <script>
        const sessionId = '@Model.Session.Id';
    </script>

    <script type="module" src="~/js/Session.js"></script>
}