@page "/LobbyList"
@using Image_guesser.SharedKernel
@model SessionListModel
@{
    ViewData["Title"] = "Lobby List";
}

<div class="text-center">

    <h1 class="display-4"> @ViewData["Title"] </h1>

    <div class="d-flex flex-wrap justify-content-center">
        @foreach (var session in Model.SessionHosts)
        {
            <div class="card m-2 col-md-5">
                <h4 class="card-header">@session.Value.Host.UserName's Lobby</h4>
                <div class="card-body">
                    <div class="mb-3 d-flex justify-content-center">
                        <div class="col-md-6">
                            <input class="form-control text-center" value="@session.Key.SessionStatus.GetDisplayName()"
                                disabled>
                        </div>
                    </div>
                    <table class="table">

                        <tr>
                            <th>
                                <h5>Mode</h5>
                            </th>
                            <th>
                                <h5>Oracle</h5>
                            </th>
                            <th>
                                <h5>Players</h5>
                            </th>
                        </tr>

                        <tr>
                            <td> @session.Key.Options.GameMode </td>
                            <td> @session.Key.Options.Oracle:
                                @(session.Key.Options.IsOracleAI() ? session.Key.Options.AI_Type :
                                    session.Value.ChosenOracle.UserName) </td>
                            <td> @session.Key.SessionUsers.Count / @session.Key.Options.LobbySize </td>
                        </tr>

                    </table>
                </div>

                <div class="card-footer">
                    @if(Model.Player.Id == session.Key.SessionHostId && session.Key.SessionUsers.Contains(Model.Player))
                    {
                        <a class="btn btn-success" asp-page="/Lobby/Session" asp-route-Id="@session.Key.Id"> Return to lobby </a>
                    }
                    else
                    {
                        @if (session.Key.SessionUsers.Count < session.Key.Options.LobbySize)
                        {
                            <button session-Id="@session.Key.Id" user-Id="@Model.Player.Id" type="submit" class="btn btn-primary joinSessionButton">
                                Join Lobby
                            </button>
                        }
                        else
                        {
                            <button class="btn btn-danger" disabled>Full</button>
                        }
                    }

                </div>
            </div>
        }
    </div>

</div>

@section Scripts {
    <script type="module" src="~/js/SessionList.js"></script>
}