@page "/Lobby/{SessionId:guid}/Game/{GameId:guid}"
@using Image_guesser.Core.Domain.OracleContext
@using Image_guesser.Core.Domain.SessionContext
@using Image_guesser.SharedKernel
@using Newtonsoft.Json
@model GameModel
@{
    ViewData["Title"] = "Game page";

    var gamePageTitle = $"Game - {(Model.UserIsOracle && Model.GameAI == null ? "You are Oracle - " : "")}{Model.Player.UserName}";

    var gameIsSinglePlayer = Model.BaseGame.GameMode == GameMode.SinglePlayer;
    var gameIsFreeForAll = Model.BaseGame.GameMode == GameMode.FreeForAll;;

    var gameIsAIAndPlayerIsSessionHost = Model.GameAI != null && Model.UserIsSessionHost;
}

<div class="text-center">

    <h1 class="display-4"> @gamePageTitle </h1>

    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-20">
                <div class="row">
                    <div class="col-8">
                        <div class="card" style="height: 750px">
                            @{
                                var header = !Model.UserIsOracle || Model.OracleIsAI ? "Guess The Image" : "Oracle, use your insight to reveal the best image pieces for guessing!";
                            }
                            <div class="card-header">@header, TEMP Name: @Model.ImageRecord.Name</div>
                            <div class="card-body d-flex justify-content-center align-items-center" id="imageList"
                                style="position: relative; z-index: 10;"></div>

                            <div class="card-footer">
                                @{
                                    //Statement
                                    var UserIsHostOrGameIsSingleplayer = Model.UserIsSessionHost || gameIsSinglePlayer;
                                }

                                <div class="d-flex flex-column">

                                    <div class="d-flex justify-content-between">
                                        <form method="post"
                                            asp-page-handler="@(UserIsHostOrGameIsSingleplayer ? "ReturnToLobby" : "LeaveGame")">
                                            <input class="btn btn-danger" type="submit"
                                                value=" @(UserIsHostOrGameIsSingleplayer ? "Return To Lobby" : "Leave Game")" />
                                        </form>

                                        @if(Model.UserIsSessionHost)
                                        {
                                            <button class="btn btn-warning ms-2" data-bs-toggle="modal" data-bs-target="#setImageSizeModal"> Resize image </button>
                                        }

                                        <div class="modal fade" id="setImageSizeModal" tabindex="-1">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Select Image Size</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <form method="post" asp-page-handler="SetImageSize">
                                                        <div class="modal-body d-flex justify-content-center align-items-center">
                                                            
                                                            <div class="input-group">
                                                                <label class="input-group-text" for="imageSize">Image Size</label>
                                                                <input class="form-control" type="number" name="imageSize" id="imageSize" value="40" min="40" max="100" />
                                                                <label class="input-group-text" for="imageSize"> % </label>
                                                            </div>  
                                                        
                                                            <input type="string" name="imageIdentifier" value="@Model.ImageRecord.Identifier" hidden />
                                                            
                                                            @*Script is writting at bottom of the page, sets values*@
                                                            <input type="number" name="imageContainerHeight" id="imageContainerHeight" hidden />
                                                            <input type="number" name="imageContainerWidth" id="imageContainerWidth" hidden />
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="submit" class="btn btn-success">Set Image Size</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>

                                        
                                        @if (gameIsAIAndPlayerIsSessionHost)
                                        {
                                            <input class="btn btn-success" type="button"
                                                id="@(gameIsSinglePlayer ? "showOneMore" : "ShowNextPieceForAll")"
                                                value="@(gameIsSinglePlayer ? "Reveal Next Tile" : "Reveal Next Tile For All Players")" />

                                            <input class="btn btn-secondary ms-2" type="button" data-bs-toggle="modal" data-bs-target="#switchAIModal"
                                                value="Restart with new AI" />

                                            <div class="modal fade" id="switchAIModal" tabindex="-1">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">Select new AI</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <form method="post" asp-page-handler="RestartGameWithNewOracle">
                                                            <div class="modal-body">
                                                                <div class="input-group">
                                                                    <label class="input-group-text" for="selectAI">Type of AI:</label>
                                                                    <select class="form-select text-center" asp-for="Selected_AI_Type"
                                                                        asp-items="Html.GetEnumSelectList<AI_Type>()" id="selectAI">
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="submit" class="btn btn-success">Switch AI</button>
                                                            </div>
                                                        </form>         
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                            
                                    <div class="d-flex flex-wrap justify-content-center">

                                        @if(Model.GameAI != null && Model.UserIsSessionHost)
                                        {
                                            <div class="input-group m-2">
                                                <label class="input-group-text" for="AI_type">AI type: </label>
                                                <input class="form-control" type="text" id="AI_type" value="@Model.GameAI.Oracle.Entity.AI_Type.GetDisplayName()" readonly />
                                            </div>
                                        }
                                     
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card" style="height: 100%;">
                            <div class="card-header">Guesses</div>
                            <div class="card-body">
                                <div id="guessingDiv" style="max-height: 620px;" class="overflow-y-auto d-flex flex-column"></div>
                            </div>
                            @if (!Model.UserIsOracle || Model.OracleIsAI)
                            {
                                <div class="card-footer input-group">
                                    <input type="text" id="answerInput" class="form-control" />
                                    <input class="btn btn-info" type="submit" id="guessButton" value="Guess" />
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>

    <!-- Victory Modal -->
    <div class="modal fade" id="victoryModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Game ended</h5>
                </div>
                <div class="modal-body">
                    <h6 class="m-1" id="winningPlayer"></h6>
                    <img src="~/@Model.ImageRecord.Link" style="width: 300px; height: 300px;" class="rounded" />
                    <h5 class="mt-2" id="modalAnswer"></h5>
                    <h5 class="mt-3" id="modalGuess"></h5>
                </div>
                <div class="modal-footer">
                    @if(UserIsHostOrGameIsSingleplayer)
                    {
                        <form method="post" asp-page-handler="ReturnToLobby">
                            <button type="submit" class="btn btn-danger">
                                Return to lobby
                            </button>
                        </form>

                        <form method="post" asp-page-handler="CreateGame">
                            <button type="submit" class="btn btn-success">
                                Start new game
                            </button>
                        </form>
                    }
                </div>
            </div>
        </div>
    </div>

</div>

<style>
    input, button {
        z-index: 100;
    }
</style>

@section Scripts {
    <script>
        @*Transfer variables to javascript*@

        var sessionId = '@Model.BaseGame.SessionId';
        var userId = '@Model.Player.Id';
        var guesserId = '@(Model.Guesser != null ? Model.Guesser.Id : "null")';
        var gameId = '@Model.BaseGame.Id';
        var urlToCorrectImageTilesDirectory = '@Model.UrlToCorrectImageTilesDirectory';
        var imageIdentifier = '@Model.ImageRecord.Identifier';
        var gameMode = '@Model.BaseGame.GameMode';
        var oracleIsAI = '@Model.OracleIsAI.ToString().ToLower()' === 'true';
        var oracleId = '@(Model.OracleIsAI ? Model.GameAI!.Oracle.Id : Model.GameUser!.Oracle.Id)';
        var oracleEntityId = '@(Model.OracleIsAI ? Model.GameAI!.Oracle.Entity.Id : Model.GameUser!.Oracle.Entity.Id)';
        var numberOfTilesRevealed = '@Model.NumberOfTilesRevealed';
        var imageTileOrderLog = @Html.Raw(JsonConvert.SerializeObject(Model.BaseOracle.ImageTileOrderLog));
        var guessLog = @Html.Raw(JsonConvert.SerializeObject(Model.BaseGame.GuessLog));

        console.log("imageTileLog", imageTileOrderLog);

        var oracleAI_Array_NumbersForImagePieces = @(Model.GameAI != null ? Html.Raw(JsonConvert.SerializeObject(Model.GameAI.Oracle.Entity.NumbersForImagePieces)) : "null");
        oracleAI_Array_NumbersForImagePieces = oracleAI_Array_NumbersForImagePieces || "Oracle AI Array not found";
        console.log(oracleAI_Array_NumbersForImagePieces);

        var availablePiecesOfImage = @Html.Raw(Model.ImagePieceList);
        availablePiecesOfImage = availablePiecesOfImage || "availablePiecesOfImage not found";
        console.log(availablePiecesOfImage);

        var imageCoordinates = @(Model.ImageCoordinates != null ? Html.Raw(Model.ImageCoordinates) : "null");
        imageCoordinates = imageCoordinates || "ImageCoordinates not found";
        console.log(imageCoordinates);
    </script>

    <script type="module" src="~/js/Game.js"></script>
}